@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,800&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,400;0,600;0,800;0,900;1,100;1,900&display=swap");
@import "keep-react/src/main.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: white !important;
  font-family: "Poppins", sans-serif;
}

.btn1 {
  background: linear-gradient(102deg, #083f9b 0%, #7f56d9 93.39%);
  border-radius: 12px;
}

.search {
  position: static;
  top: 85%;
}

.btn5 {
  background: linear-gradient(102deg, #083f9b 0%, #7f56d9 93.39%);
  position: absolute;
  top: 47%;
  right: 5%;
  border-radius: 9px;
  padding: 10px 40px 10px 38px;
}

.btn6 {
  background: linear-gradient(102deg, #083f9b 0%, #7f56d9 93.39%);
  border-radius: 9px;
  padding: 10px 40px 10px 38px;
}
.video_layout {
  display: grid;
  grid-template-columns: 8fr 4fr;
  gap: 30px;
  justify-content: center;
  padding: 0px 100px;
}
.about-banners {
  background-image: url("../assets/about-shape-3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.blog-section {
  background-image: url("../assets/blog-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
  .video_layout {
    grid-template-columns: 1fr;
    padding: 5px 10px;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
}
/*x-large devices (dekstops,1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
}

/*Extra extra  large devices (larges desktops, 1200px and up)*/
@media (min-width: 1400px) {
}

.shrink-0 {
  transition: border 0.1s ease, color 0.1s ease;
}
